<div class="social">
  <p>
    Email: kzhong1991@cqu.edu.cn &nbsp;&nbsp;&nbsp;
    <a href="../static/info/mingcong-cv.pdf">CV</a>
    {% if site.email %}
        / <a href="mailto:{{ site.email}}"><i class="fa fa-envelope"></i></a>
    {% endif %}
    {% if site.linkedin %}
        / <a href="http://linkedin.com/in/{{ site.linkedin }}"><i class="fa fa-linkedin"></i></a>
    {% endif %}
    {% if site.github %}
	     / <a href="http://github.com/{{ site.github }}"><i class="fa fa-github"></i></a>
    {% endif %}
	{% if site.googlesholar %}
	     / <a href="https://scholar.google.com/citations?user={{ site.googlesholar }}"><i class="fa fa-google"></i></a>
    {% endif %}
  </p>
</div>
